<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="icon" href="{% static 'images/USEND.png' %}">
    <title>{% block title %}Usend{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body class="bg-gray-100 min-h-screen flex flex-col">
    <header class="bg-blue-500 text-white p-4">
        <div class="container mx-auto flex justify-between items-center">
            <div class="flex items-center">
                <img src="{% static 'images/USEND.png' %}" alt="Usend Logo" class="h-8 mr-2">
                <h1 class="text-2xl">Usend</h1>
            </div>
            <nav>
                <a href="{% url 'landing_page' %}" class="mr-4">Home</a>
                <a href="{% url 'about' %}" class="mr-4">About Us</a>
                <a href="{% url 'contact' %}" class="mr-4">Contact Us</a>
                {% if user.is_authenticated %}
                    {% if request.path != '/' %}
                        <a href="{% url 'landing_page' %}" class="mr-4">Logout</a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'login' %}" class="mr-4">Login</a>
                    <a href="{% url 'signup' %}">Sign Up</a>
                {% endif %}
            </nav>
        </div>
    </header>
    <main class="container mx-auto p-4 flex-grow">
        {% if messages %}
          <div class="messages">
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }} bg-green-100 border-t border-b border-green-500 text-green-700 px-4 py-3" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
        {% block content %}{% endblock %}
    </main>
    <footer class="bg-blue-500 text-white p-4">
        <div class="container mx-auto text-center">
            &copy; 2024 Usend. All rights reserved.
            <div class="mt-2">
                <a href="{% url 'terms_and_conditions' %}" class="mr-4">Terms and Conditions</a>
                <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
            </div>
        </div>
    </footer>
</body>
</html>
