asgiref==3.8.1
certifi==2024.7.4
cffi==1.16.0
channels==4.1.0
charset-normalizer==3.3.2
crispy-tailwind==1.0.3
cryptography==43.0.0
defusedxml==0.7.1
Django==5.0.7
django-allauth==0.20.0
django-crispy-forms==2.3
django-tailwind==3.8.0
django_notifications==0.1.dev0
idna==3.7
oauthlib==3.2.2
psycopg2-binary==2.9.9
pycparser==2.22
PyJWT==2.8.0
python3-openid==3.2.0
requests==2.32.3
requests-oauthlib==2.0.0
sqlparse==0.5.1
tzdata==2024.1
urllib3==2.2.2
